In [1]:
import pandas as pd
import numpy as np

1. Write a Pandas program to display the dimensions or shape of the World alcohol consumption dataset. Also extract the column names from the dataset.

In [2]:
df = pd.read_csv('world_alcohol.csv')
df.head(2)

   Year       WHO region   Country Beverage Types  Display Value
0  1986  Western Pacific  Viet Nam           Wine            0.0
1  1986         Americas   Uruguay          Other            0.5

In [3]:
df.shape[0]

3257

2. Write a Pandas program to select first 2 rows, 2 columns and specific two columns from World alcohol consumption dataset.

In [4]:
# Select first 2 rows & first 2 columns
display(df.iloc[0:2, 0:2])

# Select 2 specific columns
display(df[['Country', 'Display Value']].head(2))

print("\nSelect random number of rows:")
display(df.sample(5))
print("\nSelect fraction of randome rows:")
display(df.sample(frac=0.02).head(2))

   Year       WHO region
0  1986  Western Pacific
1  1986         Americas

    Country  Display Value
0  Viet Nam            0.0
1   Uruguay            0.5

Select random number of rows:

      Year             WHO region     Country Beverage Types  Display Value
1260  1989                 Africa  Mozambique           Wine           0.03
2770  1984                 Europe      Poland        Spirits           5.32
311   1987        Western Pacific    Kiribati        Spirits           0.11
2337  1986                 Africa      Zambia          Other           2.07
519   1986  Eastern Mediterranean       Yemen           Wine           0.00

Select fraction of randome rows:

      Year       WHO region             Country Beverage Types  Display Value
3047  1986  South-East Asia            Thailand           Beer           0.12
572   1984           Europe  Russian Federation           Beer           1.55

5. Write a Pandas program to remove the duplicates from 'WHO region' column of World alcohol consumption dataset.

In [5]:
print("\nAfter removing the duplicates of WHO region column:")
display(df.drop_duplicates('WHO region').head())

After removing the duplicates of WHO region column:

    Year             WHO region       Country Beverage Types  Display Value
0   1986        Western Pacific      Viet Nam           Wine           0.00
1   1986               Americas       Uruguay          Other           0.50
2   1985                 Africa  Cte d'Ivoire           Wine           1.62
13  1984  Eastern Mediterranean   Afghanistan          Other           0.00
18  1984                 Europe        Norway        Spirits           1.62

7. Write a Pandas program to find out the alcohol consumption details in the year '1987' or '1989' from the world alcohol consumption dataset.

In [6]:
print("\nThe world alcohol consumption details in the year 1985:")
display(df[(df['Year']==1987) | (df['Year']==1989)].head(2))

The world alcohol consumption details in the year 1985:

   Year WHO region                Country Beverage Types  Display Value
4  1987   Americas  Saint Kitts and Nevis           Beer           1.98
5  1987   Americas              Guatemala          Other           0.00

8. Write a Pandas program to find out the alcohol consumption details by the 'Americas' in the year '1985' from the world alcohol consumption dataset.

In [7]:
print("\nThe world alcohol consumption details by the Americas in the 1985:")
display(df[(df['WHO region']=='Americas') & (df['Year']==1985)].head(2))

The world alcohol consumption details by the Americas in the 1985:

     Year WHO region                Country Beverage Types  Display Value
35   1985   Americas  Saint Kitts and Nevis        Spirits           2.24
110  1985   Americas                 Brazil           Beer           1.42

9. Write a Pandas program to find out the alcohol consumption details in the year '1986' where WHO region is 'Western Pacific' and country is 'VietNam' from the world alcohol consumption dataset.

In [8]:
print("\nThe world alcohol consumption details in the year 1986 where WHO region is Western Pacific and country is VietNam :")

display(df[(df['Year'] == 1986) & (df['WHO region']=='Western Pacific') & (df['Country']=='VietNam')])

The world alcohol consumption details in the year 1986 where WHO region is Western Pacific and country is VietNam :

Empty DataFrame
Columns: [Year, WHO region, Country, Beverage Types, Display Value]
Index: []

10. Write a Pandas program to find out the alcohol consumption details in the year '1986' or '1989' where WHO region is 'Americas' from the world alcohol consumption dataset.

11. Write a Pandas program to find out the alcohol consumption details in the year '1986' or '1989' where WHO region is 'Americas' or 'Europe' from the world alcohol consumption dataset.

In [9]:
print("\nThe world alcohol consumption details in the year '1986' or '1989' where  WHO region is 'Americas' :")
display(df[(df['Year'] == 1986) | (df['Year'] == 1989) & (df['WHO region']=='Americas')].head())

print("\nThe world alcohol consumption details in the year ‘1986’ or ‘1989’ where  WHO region is ‘Americas’  or 'Europe':")
display(df[(df['Year'] == 1986) | (df['Year'] == 1989) & (df['WHO region']=='Americas') | (df['WHO region']=='Europe')].head())

The world alcohol consumption details in the year '1986' or '1989' where  WHO region is 'Americas' :

    Year       WHO region              Country Beverage Types  Display Value
0   1986  Western Pacific             Viet Nam           Wine           0.00
1   1986         Americas              Uruguay          Other           0.50
3   1986         Americas             Colombia           Beer           4.27
8   1986         Americas  Antigua and Barbuda        Spirits           1.55
11  1989         Americas            Guatemala           Beer           0.62

The world alcohol consumption details in the year ‘1986’ or ‘1989’ where  WHO region is ‘Americas’  or 'Europe':

    Year       WHO region              Country Beverage Types  Display Value
0   1986  Western Pacific             Viet Nam           Wine           0.00
1   1986         Americas              Uruguay          Other           0.50
3   1986         Americas             Colombia           Beer           4.27
8   1986         Americas  Antigua and Barbuda        Spirits           1.55
11  1989         Americas            Guatemala           Beer           0.62

*** 12. Write a Pandas program to find out the 'WHO region, 'Country', 'Beverage Types' in the year '1986' or '1989' where WHO region is 'Americas' or 'Europe' from the world alcohol consumption dataset.

In [10]:
print("\nThe world alcohol consumption details ('WHO region','Country','Beverage Types') \nin the year ‘1986’ or ‘1989’ where  WHO region is ‘Americas’  or 'Europe':")

display(df[(df['Year'] == 1986) | (df['Year'] == 1989) & (df['WHO region']=='Americas') | (df['WHO region']=='Europe')][['WHO region','Country','Beverage Types']].head())

The world alcohol consumption details ('WHO region','Country','Beverage Types')
in the year ‘1986’ or ‘1989’ where  WHO region is ‘Americas’  or 'Europe':

         WHO region              Country Beverage Types
0   Western Pacific             Viet Nam           Wine
1          Americas              Uruguay          Other
3          Americas             Colombia           Beer
8          Americas  Antigua and Barbuda        Spirits
11         Americas            Guatemala           Beer

14. Write a Pandas program to find out the records where consumption of beverages per person average >=4 and Beverage Types is Beer, Wine, Spirits from world alcohol consumption dataset.

In [11]:
print("\nThe world alcohol consumption details: average consumption of \nbeverages per person >=4 and Beverage Types is Beer, wine or sprits:")

display(df[(df['Display Value'] >= 5) & (df['Beverage Types'] == 'Beer') | (df['Beverage Types'] == 'Wine') | (df['Beverage Types'] == 'Spirits')].head(2))

The world alcohol consumption details: average consumption of
beverages per person >=4 and Beverage Types is Beer, wine or sprits:

   Year       WHO region       Country Beverage Types  Display Value
0  1986  Western Pacific      Viet Nam           Wine           0.00
2  1985           Africa  Cte d'Ivoire           Wine           1.62

15. Write a Pandas program to filter the specified columns and records by range from world alcohol consumption dataset.

In [12]:
print("\nFiltering records by label or index:")
display(df.loc[0:4, ["WHO region", "Beverage Types"]])

Filtering records by label or index:

        WHO region Beverage Types
0  Western Pacific           Wine
1         Americas          Other
2           Africa           Wine
3         Americas           Beer
4         Americas           Beer

16. Write a Pandas program to filter those records where WHO region contains "Ea" substring from world alcohol consumption dataset.

In [13]:
# Remove NA / NaN values
new_df = df.dropna()
print("\nMatch if  a given column has a particular sub string:")
display(new_df[new_df["WHO region"].str.contains("Ea")].head(2))

Match if  a given column has a particular sub string:

    Year             WHO region      Country Beverage Types  Display Value
13  1984  Eastern Mediterranean  Afghanistan          Other            0.0
20  1986        South-East Asia      Myanmar           Wine            0.0

17. Write a Pandas program to filter those records where WHO region matches with multiple values (Africa, Eastern Mediterranean, Europe) from world alcohol consumption dataset.

In [14]:
print("\nFilter by matching multiple values in a given dataframe:")
flt_wine = df["WHO region"].isin(["Africa", "Eastern Mediterranean", "Europe"])
display(df[flt_wine].head(2))

print("\nSelect all rows which not appears in a given list:")
display(df[~flt_wine].head(2))

Filter by matching multiple values in a given dataframe:

   Year WHO region       Country Beverage Types  Display Value
2  1985     Africa  Cte d'Ivoire           Wine           1.62
6  1987     Africa     Mauritius           Wine           0.13

Select all rows which not appears in a given list:

   Year       WHO region   Country Beverage Types  Display Value
0  1986  Western Pacific  Viet Nam           Wine            0.0
1  1986         Americas   Uruguay          Other            0.5

21. Write a Pandas program to filter rows based on row numbers ended with 0, like 0, 10, 20, 30 from world alcohol consumption dataset.

In [15]:
print("\nFilter rows based on row numbers ended with 0, like 0, 10, 20, 30:")
display(df.filter(regex='0$', axis=0).head())

Filter rows based on row numbers ended with 0, like 0, 10, 20, 30:

    Year       WHO region       Country Beverage Types  Display Value
0   1986  Western Pacific      Viet Nam           Wine           0.00
10  1987           Africa      Botswana           Wine           0.20
20  1986  South-East Asia       Myanmar           Wine           0.00
30  1986           Africa  Sierra Leone          Other           4.48
40  1987           Europe       Austria        Spirits           1.90

25. Write a Pandas program to filter all columns where all entries present, check which rows and columns has a NaN and finally drop rows with any NaNs from world alcohol consumption dataset.

In [16]:
df_null = df.copy()

print("\nFind  all columns which all entries present:")
display(df_null.loc[:, df_null.notnull().all()].head(2))
print("\nRows and columns has a NaN:")
display(df_null.loc[:,df_null.isnull().any()].head(2))
print("\nDrop rows with any NaNs:")
display(df_null.dropna(how='any').head(2))

Find  all columns which all entries present:

   Year       WHO region   Country Beverage Types
0  1986  Western Pacific  Viet Nam           Wine
1  1986         Americas   Uruguay          Other

Rows and columns has a NaN:

   Display Value
0            0.0
1            0.5

Drop rows with any NaNs:

   Year       WHO region   Country Beverage Types  Display Value
0  1986  Western Pacific  Viet Nam           Wine            0.0
1  1986         Americas   Uruguay          Other            0.5

26. Write a Pandas program to filter all records starting from the 'Year' column, access every other column from world alcohol consumption dataset.

In [17]:
print("\nFrom the 'Year' column, access every other column:")
display(df.loc[:,'Year'::2].head(2))
print("\nAlternate solution:")
display(df.iloc[:,0::2].head(2))
print("\nStarting from the 2nd row, access every 5th row:")
display(df.loc[1::5, :].head())

From the 'Year' column, access every other column:

   Year   Country  Display Value
0  1986  Viet Nam            0.0
1  1986   Uruguay            0.5

Alternate solution:

   Year   Country  Display Value
0  1986  Viet Nam            0.0
1  1986   Uruguay            0.5

Starting from the 2nd row, access every 5th row:

    Year WHO region     Country Beverage Types  Display Value
1   1986   Americas     Uruguay          Other           0.50
6   1987     Africa   Mauritius           Wine           0.13
11  1989   Americas   Guatemala           Beer           0.62
16  1984   Americas  Costa Rica           Wine           0.06
21  1989   Americas  Costa Rica        Spirits           4.51