# Python Questions:

#Count the unique values in list a

a = [1,2,3,2,4,3,5,1]

In [2]:
#Your code here
a = [1,2,3,2,4,3,5,1]
res = {}
for i in a:
  if i not in res.keys():
    res[i] = 1
  else:
    res[i] += 1

print(res)

{1: 2, 2: 2, 3: 2, 4: 1, 5: 1}

In [7]:
count = list(res.keys())
print(len(count))

5

For list x, reverse each element of the list:

x = [[4, 1, 6], [7, 8], [4, 10, 8]]

Output: [[6, 1, 4], [8, 7], [8, 10, 4]]

In [11]:
#Your code here
x = [[4, 1, 6], [7, 8], [4, 10, 8]]
res = []
for i in x:

  res.append(i[::-1])
print(res)

[[6, 1, 4], [8, 7], [8, 10, 4]]

For the given list x, using a single line of code print the squares of all integer type elements.

x = [1,2,'A','B']

Output: [1,4]

In [16]:
#Your code here
x = [1,2,'A','B']
op = [i**2 for i in x if type(i) == type(int())]
print(op)

[1, 4]

For the dictionary below:

a) Print all songs in the_best_one

b) Provide the total number of Songs in the following Dictionary

c) Name the 1st album to be released

In [17]:
eminem_dict = {'excellent':{'album':"The Slim Shady LP",'year_released':1999,'songs':['My Name Is','Brain Damage','Paul','Role Model','My Fault'], 'sales':10410000},
'the_okay_one':{'album':"The Marshall Matthers LP 2",'year_released':2013,'songs':['Stronger Than I was','Rap God','Berzerk','Legacy'], 'sales':4770000},
'the_best_one':{'album':"Recovery",'year_released':2010,'songs':['Not Afraid','Love The Way You Lie','Space Bound','No Love'], 'sales':8330000}
}

print(eminem_dict)

{'excellent': {'album': 'The Slim Shady LP', 'year_released': 1999, 'songs': ['My Name Is', 'Brain Damage', 'Paul', 'Role Model', 'My Fault'], 'sales': 10410000}, 'the_okay_one': {'album': 'The Marshall Matthers LP 2', 'year_released': 2013, 'songs': ['Stronger Than I was', 'Rap God', 'Berzerk', 'Legacy'], 'sales': 4770000}, 'the_best_one': {'album': 'Recovery', 'year_released': 2010, 'songs': ['Not Afraid', 'Love The Way You Lie', 'Space Bound', 'No Love'], 'sales': 8330000}}

In [32]:
#Your code here
for key, val in eminem_dict.items():
  for k, v in val.items():
    print(v)

The Slim Shady LP
1999
['My Name Is', 'Brain Damage', 'Paul', 'Role Model', 'My Fault']
10410000
The Marshall Matthers LP 2
2013
['Stronger Than I was', 'Rap God', 'Berzerk', 'Legacy']
4770000
Recovery
2010
['Not Afraid', 'Love The Way You Lie', 'Space Bound', 'No Love']
8330000

In [34]:
import pandas as pd
import numpy as np

In [41]:
from IPython.lib.security import encode
df = pd.read_csv('billboard_top20_2010_2019.csv', encoding='latin-1' )
df.head()

,rank,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,4,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,5,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

In [57]:
# df[df.year == 2016]
df_new = df[df.year == 2016].groupby(['rank', 'title', 'artist', 'bpm'])
# display(df_new.iloc(df_new[0:10, :]))


Pull the 'billboard_top20_2010_2019' csv file from the folder. [ NOTE: encoding='latin-1' ]



What were the top 10 ranked songs in 2016? Output the rank, artist, song name and bpm.

Sort the result based on the bpm in ascending order.

In [ ]:
#Your code here
df =

User information:

a) Pull the 'user_purchase' csv file from the folder, and output the revenue of all users.

b) Identify returning active users. A returning active user is a user that has made a second purchase within 7 days of any other of their purchases. Output a list of user_ids of these returning active users.

In [ ]:
#Your code here



---

# SQL Questions:

In [ ]:
!pip install SQLAlchemy==1.4.46
!pip install pandasql
!pip install pandas
!pip install numpy

In [ ]:
import numpy as np
import pandas as pd
from pandasql import sqldf
house_not_md = pd.read_csv('sample_data/california_housing_test.csv', encoding = 'utf-8')
house_not_md = house_not_md.rename(columns = {'households': 'no_of_houses'}, inplace = False)
house_not_md['Reg_Lat'] = pd.cut(house_not_md['latitude'],3,labels = ["SOUTH","CENTER","NORTH"])
house_not_md['Reg_Lng'] = pd.cut(house_not_md['longitude'],3,labels = ["WEST","CENTRAL","EAST"])
house_not_md['REGION'] = house_not_md[['Reg_Lat','Reg_Lng']].agg('-'.join, axis=1)
house_not_md['REGION'].replace('CENTER-CENTRAL',"CENTER", inplace = True)
house_not_md["Mapper"] = house_not_md['latitude'].astype(str)+house_not_md['longitude'].astype(str)
house_not_md["RANK"] = house_not_md["Mapper"].rank().astype(int)
house_not_md["SUB_REGION"] = "AREA - " + house_not_md["Mapper"].rank().astype(int).astype(str)
# house_not_md.sort_values(by=['REGION','RANK'], axis=0, ascending=True, inplace=True,ignore_index=True)
house_not_md.drop(['Reg_Lat','Reg_Lng','latitude','Mapper','longitude','RANK'], inplace = True, axis =1 )
house_not_md.drop_duplicates(inplace=True, ignore_index=True)
def query_runner(query):
  sub_data = sqldf(query, globals())
  # display(sub_data)
  return sub_data

In [ ]:
query = """
select * from house_not_md;
"""

query_runner(query)

a) For table house_not_md, select the average median_house_value of houses older than 18 years in one of the Central Regions (North-Central, South-Central and Center)

In [ ]:
query_a = """
--Your Work Here
"""

query_runner(query_a)

b) If 20 percent of all rooms are living rooms, give the number of living rooms per Region (Rounded to the nearest integer)

In [ ]:
query_b = """
--Your Work Here
"""

query_runner(query_b)

c) Assign 'Sparsely Populated', 'Medium Population' or 'Densely Populated' to a Sub Region, under the column population_density, based on the following conditions:

>     0    <= Population < 600  -----> 'Sparsely Populated'
    600  <= Population < 1000 -----> 'Medium Population'
    1000 <= Population        -----> 'Densely Populated'

In [ ]:
query_c = """
--Your Work Here
"""

query_runner(query_c)

d) Give the top 2 regions by average median_house_value (desc) (tiebreaker - average housing_median_age asc, used to determine rank when two regions have the same average median_house_value)

In [ ]:
query_d = """
--Your Work Here
"""

query_runner(query_d)

e) Find the number of members per household for all regions

In [ ]:
query_e = """
--Your Work Here
"""

query_runner(query_e)

f) A Truth Table indicating whether a region has more than average median_house_value

>     REGION     ---   Price_Over_Avg
    NORTH-WEST --->  TRUE
    SOUTH-EAST --->  FALSE
    CENTRAL    --->  FALSE

In [ ]:
query_f = """
--Your Work Here
"""

query_runner(query_f)

Date Functions:

a) Convert the string 'February 22, 2022' into date format '2022-02-22'

In [ ]:
query_dt_a = """
--Your Work Here
"""

query_runner(query_dt_a)

b) Extract Month, Date, Year from the string 'February 22 2022'

In [ ]:
query_dt_b = """
--Your Work Here
"""

query_runner(query_dt_b)